* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BFEBFF;
    gap: 20px;
}

h1 {
    font-size: 50px;
}

.gameboard {
    display: none;
    flex-wrap: wrap;
    cursor: pointer;
}

.square {
    box-sizing: border-box;
    width: 200px;
    height: 200px; 
    text-align: center; 
    font-size: 175px;
}

.name-scorecard {
    font-size: 45px;
    width: 200px;
    overflow-wrap: break-word;
    text-align: center;
}

#wrapper {
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px red;
    
}

#signup-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 25px;
}

#inside-wrapper {
    display: flex;
    gap: 300px
}

.player-signup-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid black 2px;
    padding: 10px;
    background-color: #997345;
}

form div {
   align-self: center;
}

legend {
    float: left;
}

.ready-btn {
   font-size: inherit;
   background-color: rgb(134, 170, 134);
   border-color: black;
   cursor: pointer;
   padding: 10px;
}

.ready-btn:hover {
    background-color: rgb(79, 155, 79);
}

.turn {
    background-color: green;
}

.middle-row {
    border-top: solid black 4px;
    border-bottom: solid black 4px;
}

.middle-column {
    border-left: solid black 4px;
    border-right: solid black 4px;
}

.middle-square {
    border: solid black 4px;
}